body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #eedec9;
    color: black;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-left .icon {
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.header-center {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    gap: 20px;
    color: black;
}

.header-center input {
    padding: 5px;
    border: none;
    border-radius: 4px;
    width: 200px;
}

.header-center button {
    padding: 5px 10px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.header-center button:hover {
    background-color: #777;
}

.header-center .store-name {
    color: black;
    font-size: 24px;
    margin-left: 10px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-right a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 4px;
}

.header-right a:hover {
    background-color: #555;
}

main {
    padding: 20px;
    margin-top: 50px;
    background: linear-gradient(180deg, #fff7ab, #ffa9f9);
}

.promotional-images {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    justify-content: center;
}

.promo-image {
    width: 100%;
    max-width: 500px; 
    height: auto;
    object-fit: cover;
}

.product-image {
    width: 100px; 
    height: auto; 
    object-fit: cover; 
}

.products {
    margin-bottom: 60px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: linear-gradient(180deg, #fff7ab, #ffa9f9);
}

th, td {
    padding: 10px; 
    border: 1px solid #ddd;
    background: #fff;
}

th {
    background: #ffa9f9; 
}

.cart {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff; 
}

.input-section {
    margin-bottom: 15px;
}

.input-section label {
    display: block;
    margin-bottom: 5px;
}

.input-section input {
    width: calc(100% - 10px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.input-section input[type="number"] {
    -moz-appearance: textfield; 
}

.input-section input[type="number"]::-webkit-inner-spin-button, 
.input-section input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

.cart button {
    padding: 10px;
    background-color: #333; 
    color: white; 
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s;
}

.cart button:hover {
    background-color: #555; 
}


main h2 {
    text-align: center;
    color: #333; 
    margin-top: 70px; 
}


#cart-items-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


#cart-items-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

#cart-items-list li:last-child {
    border-bottom: none; 
}


.total {
    margin-top: 15px;
    font-size: 18px; 
    font-weight: bold;
    color: #333; 
}


.message-box {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
    background-color: #f5f5dc; 
    color: black; 
    z-index: 1000; 
    border-radius: 5px; 
}


.confirm-box {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #f5f5dc; 
    color: black; 
    z-index: 1000; 
    border-radius: 5px; 
    text-align: center; 
}


.contact {
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

form label {
    margin: 5px 0;
}

form input, form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}
